<% @all_note.each do |note| %>
    <div>
      <table>
        <tr>
          <td><%= note.id %></td>
          <td><%= note.user %></td>
          <td><%= note.content %></td>
          <td><%= note.created_at %></td>
          <td><%= note.updated_at %></td>
        </tr>
      </table>
    </div>
<% end %>
